
/*body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

input, textarea {
    font-size: 18px;
    width: 200px;
}

    input [typ=submit] {
        width: auto;
    }

label {
    font-size: 16px;
}

#theForm {
    background-color: #cec7c7;
}

    #theForm input[type=submit] {
        background-color: #808080;
        color: #000000;
    }

ul.product-props {
    font-size: small;
}

    ul.product-props li {
        list-style-type: none;
    }

.product-info {
    border: 1px solid #808080;
    display: inline-block;
    padding: 10px;
    margin: 25px;
    width: 450px;
    background-color: #808080;
    border-radius: 5px;
}

    .product-info img {
        margin: 3px;
        float: left;
        border: 1px solid black;
        max-width: 150px;
    }

#loginToggle {
    cursor: pointer;
}

.popup-form {
    padding: 5px;
    border: 2px black dashed;
    display: inline-block;
}

    .popup-form input {
        width: 200px;
    }

    .popup-form label {
        width: 150px;
        display: inline-block;
    }

    .popup-form input[type=checkbox], .popup-form input[type=submit] {
        width: auto;
    }

menu li {
    display: inline
}

menu li::after {
    content: ' |';
}

menu li:last-of-type::after{
    content:"";
}*/
